/* Estilos para todo el proyecto */

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

/* * {
    border: 1px solid red;
} */

body {
    background-color: #FBFBFE;
    margin-left: 298px;
    margin-top: 24px;
    margin-right: 40px;
}


.contenedor-centrado {
    display: flex;
    width: 100%;
    justify-content: center;
}


h1 {
    text-align: left;
    font-family: 'Exo' 500;
}

h3 {
    text-align: left;
    font-family: 'Exo' 300;
}


form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
}


table {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid lightgray;
}


td {
    border-bottom: 1px solid #ECECEC;
    padding-left: 24px;
    padding-right: 24px;
}

th {
    text-align: left;
    padding: 24px;
    border-bottom: 1px solid #ECECEC;
}

td.td-imagen {
    width: 308px;
}

.th-codigo {
    width: 0%;
}

.producto-imagen {
    width: 260px;
    height: 140px;
    object-fit: cover;
}

label {
    display: block;
    margin-bottom: 5px;
}


input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}


input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #0056b3;
}


button {
    padding: 10px;
    background-color: #5853F2;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}


button:hover {
    background-color: #4743DB;
}


nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background-color: #181922;
    width: 258px;
    position: fixed;
}

.logo {
    display: block;
    margin: auto;
    margin-left: 24px;
}

.div-nav {
    margin-bottom: 48px;
}

.nav-style{
    color: #ffffff;
    display: table;
    margin-left: 16px;
    margin-right: 16px;
    padding: 8px;
    justify-content: center;
}

.nav-text-style {
    color: #ffffff;
    margin-left: 16px;
}

.nav-style:hover {
    background-color: #323136;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 8px;
    width: 224px;
}

.material-symbols-outlined {
    margin-right: 16px;
   
}


.nav-ul {
    margin-top: 32px;
}

.nav-ul>li>a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* * { border: 1px solid red ;} */