<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Producto</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500&display=swap" rel="stylesheet">
</head>


<body>
    <nav>
        <ul class="nav-ul">
            <li>
                <img src="./img/Logo.svg" alt="Logo" class="logo">
            </li>
            <br>
            <br>
            <li>
                <a href="./listado.html" class="nav-style">
                    <span class="material-symbols-outlined">
                        list_alt
                    </span></a>
            </li>

            <li>
                <a href="./altas.html" class="nav-style">
                    <span class="material-symbols-outlined">
                        list_alt_add
                    </span></a>
            </li>

            <li>
                <a href="./modificaciones.html" class="nav-style">
                    <span class="material-symbols-outlined">
                        border_color
                    </span></a>
            </li>

            <li>
                <a href="./listadoEliminar.html" class="nav-style">
                    <span class="material-symbols-outlined">
                        delete
                    </span></a>
            </li>

            <li>
                <a href="./carrito1.html" class="nav-style">
                    <span class="material-symbols-outlined">
                        shopping_cart
                    </span></a>
            </li>

        </ul>
    </nav>

    <h1>Modificar Productos del Inventario</h1>
    <h3>Codo a Codo 2023</h3>
    <div id="app">
        <form @submit.prevent="obtenerProducto">
            <label for="codigo">Código:</label>
            <input type="text" v-model="codigo" required><br>
            <button type="submit">Modificar Producto</button> <a href="index.html">Menu principal</a>
        </form>


        <div v-if="mostrarDatosProducto">
            <h2>Datos del Producto</h2>
            <form @submit.prevent="guardarCambios">
                <label for="descripcionModificar">Descripción:</label>
                <input type="text" id="descripcionModificar" v-model="descripcion" required><br>


                <label for="cantidadModificar">Cantidad:</label>
                <input type="number" id="cantidadModificar" v-model="cantidad" required><br>


                <label for="modeloModificar">Modelo:</label>
                <input type="text" id="ModloModificar" v-model="modelo" required><br>


                <label for="formatoModificar">Formato:</label>
                <input type="text" id="formatoModificar" v-model="formato" required><br>


                <label for="imagenModificar">imagen:</label>
                <input type="text" id="imagenModificar" v-model="imagen" required><br>


                <label for="marcaModificar">marca:</label>
                <input type="text" id="marcaModificar" v-model="marca" required><br>


                <label for="precioModificar">Precio:</label>
                <input type="number" step="0.01" id="precioModificar" v-model="precio" required><br>


                <button type="submit">Guardar Cambios</button>
                <a href="modificaciones.html">Cancelar</a>
            </form>
        </div>
    </div>


    <script src="https://unpkg.com/vue@next"></script>
    <script>
        //const URL = "http://127.0.0.1:5000/"
        const URL = "https://dest3.pythonanywhere.com/"


        const app = Vue.createApp({
            data() {
                return {
                    codigo: '',
                    mostrarDatosProducto: false,
                    descripcion: '',
                    cantidad: '',
                    precio: ''
                }
            },
            methods: {
                obtenerProducto() {
                    fetch(URL + 'productos/' + this.codigo)
                        .then(response => {
                            if (response.ok) {
                                return response.json()
                            } else {
                                throw new Error('Error al obtener los datos del producto.')
                            }
                        })
                        .then(data => {
                            this.descripcion = data.descripcion
                            this.cantidad = data.cantidad
                            this.precio = data.precio
                            this.mostrarDatosProducto = true
                        })
                        .catch(error => {
                            alert('Error al obtener los datos del producto.')
                        })
                },
                guardarCambios() {
                    const producto = {
                        codigo: this.codigo,
                        descripcion: this.descripcion,
                        cantidad: this.cantidad,
                        precio: this.precio
                    }


                    fetch(URL + 'productos/' + this.codigo, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(producto)
                    })
                        .then(response => {
                            if (response.ok) {
                                return response.json()
                            } else {
                                throw new Error('Error al guardar los cambios del producto.')
                            }
                        })
                        .then(data => {
                            alert('Cambios guardados correctamente.')
                            location.reload()
                        })
                        .catch(error => {
                            alert('Error al guardar los cambios del producto.')
                        })
                }
            }
        })
        app.mount('#app')
    </script>
</body>


</html>